<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--awesome font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- highlight.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-coy.min.css" integrity="sha512-CKzEMG9cS0+lcH4wtn/UnxnmxkaTFrviChikDEk1MAWICCSN59sDWIF0Q5oDgdG9lxVrvbENSV1FtjLiBnMx7Q==" crossorigin="anonymous" />
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js -->
    <title>Programming Literacy</title>
    <!--linking the css file to the website -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
<!-- creating the natigation bar-->


<header class="header">
    <div class="w3-top" id="top">

        <div class="w3-bar">

            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile" style="margin-left:20px;">Accueil</a>

            <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-mobile" style="margin-left:25px;">Auteur</a>
              <a href="{% url 'create_article' %}" class="w3-bar-item w3-button w3-mobile" style="margin-left:25px;">Admin</a>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-mobile"
               style="float:right; margin-right:22px;">Se déconnecter</a>
               <a href="{% url 'profile_update' %}" class="w3-bar-item w3-button w3-mobile"
                 style="float:right; margin-right:22px;">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50">Bonjour, {{user.first_name}}</a>

            {% else %}

            <a href="{% url 'register' %}" class="w3-bar-item w3-button w3-mobile" style="float:right; margin-right:22px;">S'inscrire</a>
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-mobile" style="float:right; margin-right:22px;">
                <span class="glyphicon glyphicon-log-in"></span> Se connecter</a>
            {% endif%}
            <div class="search_link"  >

                <a  href="{% url 'search' %}">Chercher</a>

            </div>



        </div>
    </div>

</header>

 <main role="main" class="container-fluid whole-site">
    {% if messages %}
    {% for message in messages %}
    <div class="alert-success alert-{{message.tags}}"><h3>{{message}}</h3></div>
    {% endfor %}
    {% endif %}


    {% block content %}


    {% endblock content %}

</main>

<!--Creating and styling the footer-->
<div class="footer">
    <p><small> ©2020 Programming Literacy</small></p>
    <small><i>Developed by Sylvain Yabré</i></small>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js" integrity="sha512-WkVkkoB31AoI9DAk6SEEEyacH9etQXKUov4JRRuM1Y681VsTq7jYgrRw06cbP6Io7kPsKx+tLFpH/HXZSZ2YEQ==" crossorigin="anonymous"></script>


</body>
</html>









