{% extends 'my_site/base.html' %}
{% block title %}
  reset your password
{% endblock title %}

{% block content %}
<div class="content-section">
    {% load crispy_forms_tags %}
    <form method="POST" action=".">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Réinitialiser votre mot de passe</legend>
              {% csrf_token %}
             {{ form | crispy }}
        </fieldset>


        <button class="btn btn-outline-info" type="submit">Envoyer la demande de réinitialisation</button>
    </form>



</div>
{% endblock %}