{% extends 'my_site/base.html'%}


{% block content %}

  {% load crispy_forms_tags %}

  <!--Password Reset Confirm-->
    <div class="container p-5">


        {% if validlink %}
        <h2 class="font-weight-bold mt-3">Confirmation de réinitialisation</h2>
		<hr>
        <p>Votre nouveau mot de passe.</p>
        <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Confirmer la modification</button>
       </form>
  {% else %}
  <h4>Lien invalide. Votre lien s'est expirée ou a déjà été utilisé</h4>

    </div>

{% endblock %}